{% extends "_layout.html" %}

{% block content %}
<h2>Contact details</h2>
<p>We’d love to hear from you! Whether you have a question about our services, need support, or just want to say hello—our team is here and ready to help.</p>

<p>
	📧 <b>Email</b>: hello@example.com<br />
	📞 <b>Phone</b>: (123) 456-7890<br />
	📍 <b>Address</b>: 123 Main Street, Suite 456, Your City, ST 78901
</p>

<p><b>Business Hours:</b><br />
Monday – Friday: 9am – 5pm<br />
Saturday – Sunday: Closed
</p>
{% endblock %}

